##TOUPLE

In [3]:
numbers = (3,4,7,8)
print(numbers)

(3, 4, 7, 8)

touple are unmodifieble

In [5]:
number = 3, 
print(number)
type(number)

(3,)

tuple

In [6]:
x = 1, 4, 5
type(x)

tuple

In [8]:
my_first_dic = {
    "ke1": "ciao",
    1: "ciao perim",
    (2,): ([1,2,3,4]),
}

In [11]:
my_first_dic["ke1"]

'ciao'

In [12]:
my_first_dic[1]

'ciao perim'

In [13]:
my_first_dic[(2,)]

[1, 2, 3, 4]

In [14]:
dict((["key1", [1,2,3]], ["key2", "value2", ]))

{'key1': [1, 2, 3], 'key2': 'value2'}

In [ ]:
dataset = {
    "temperature": [34, 35.5, 36]
    "name_of_the_person": ["Paolo", "Michele", "Matteo"]
}

In [15]:
import copy

da = {
    'x':3,
    'y':5,
    'z':1,
}

db = copy.deepcopy(da)
print(da)

{'x': 3, 'y': 5, 'z': 1}

In [17]:
len(da)
del da["x"]

In [18]:
print(da)

{'y': 5, 'z': 1}

In [ ]:
d1 = {'a':3,
      'b':8}
d2 = {'a':d1['a'],
    'b':d1['b']}

In [20]:
sweets = 11
if sweets > 10:
    print('We found...')
    print('Many sweets!')
else: 
    print('Alas there are ...')
    print('few sweets!')
    
print()
print("let's find other sweets!")

We found...
Many sweets!

let's find other sweets!

In [ ]:
x = 30
if x > 8:
    print('DOH')
if x > 10:
    printf('DUFF');

In [ ]:
x,y = 5,9
if x >= 0 and y > 0
elif

In [21]:
sports = ['volleyball', 'tennis', 'soccer', 'swimming']

In [23]:
for element in sports:
    print('Found an element!')
    print(element)
    
print('done')

Found an element!
volleyball
Found an element!
tennis
Found an element!
soccer
Found an element!
swimming
done

In [24]:
my_var = 'hello'

for my_var in sports:
    print(my_var)
    
print(my_var)

volleyball
tennis
soccer
swimming
swimming

In [25]:
i = 34
y = 'ciao' * 60

x = [1, 2, 3]
for i in x:
    for j in x:
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
for i in range(4,18,3):
    print(i)

4
7
10
13
16

In [29]:
animals = ["cat", "dog", "shark", "cow"]
for i in range(len(sports)):
    print('position', i)
    print(sports[i])

position 0
volleyball
position 1
tennis
position 2
soccer
position 3
swimming

In [31]:
lst = ['a', 'b', 'c', 'd']
print(lst)

['a', 'b', 'c', 'd']

In [33]:
for x in 'PARADE':
    
    if x == 'D':
        print('break, exits the loop!')
        break
        print('Aftert he break')
        
        print(x)
        
        print('Print loop is over')

break, exits the loop!

In [36]:
numbers = [2, 5, 3, 4]

doubled = [x*2 for x in numbers]

doubled

[4, 10, 6, 8]

In [38]:
y = [7,4,8,2,9]
[x for x in y[::-1] if x > 5]

[9, 8, 7]

In [40]:
def f():
    print("something")

In [45]:
f()

something

In [46]:
import math

def circle_area(ray):
    area = math.pi * ray **2
    return area
    print('ok')
    
result = circle_area(4)
print(result)

50.26548245743669